# 4e2- This is a raw text file. Ill definte a text and then pull its values from vars I'll assign. 

Resource group for ${template_file_team} in the ${template_file_environment} environment.
Managed by Terraform. Owner: ${template_file_owner}.